.presentation{
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: $color-bck-grd-light;
    padding: 0 20px 20px 20px;
    text-align: center;
    & h2{
        @include HP-h2-style;
        order:0;
    }
    & h1{
        @include HP-h1-style;
        order:1;
    }
       
}
.operation{
    margin-bottom: 70px;

    & h2{
        @include HP-h2-style;

    }
    & i{
        color:$color-i-operate;
        padding:0 20px 0 5px;
    }
    & li{
        @include operate-li;
        transition-duration: 400ms;
    &::before {
        @include counter-li-HP;
      }
    &:hover{
        @include operate-hov;
    & i{
        color:$color-primary;
    }
    }
    }
    
}

.restaurant-grid{
    background-color: $color-bck-grd-light;
    padding-bottom: 30px;
    & a{
        text-decoration: none;
    }
    & h2{
        @include HP-h2-style;
    }
    & article{
        display: flex;
        flex-flow: row wrap;
        margin:20px;
        border-radius: 15px;
        overflow: hidden;
        position: relative;
        box-shadow: $box-shade;
        transition-duration: 400ms;
        &:hover{
            box-shadow: $box-shade-hover;
        }
    & > div{
        margin:-4px;
    }
    }
    & img{
        aspect-ratio: 16/9;
        width: 100%;
    }
    &__infos{
        display: flex;
        flex-direction: column;
        background-color: $color-white;
        width: 100%;
        position: relative;
        padding: 5%;
    
        & i{
        position: absolute;
        top:20px;
        right:20px;
        font-weight: 300;
        &:before{
            font-size: 1.2rem;
            transition-duration: 1000ms;
        }
    &:hover::before{
        font-weight: 900;
        @include heart-gradient;
    }
   
    }
    }
}
.new::after{
    @include new-style
}