.presentation{
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: $color-bck-grd-light;
    padding: 30px;
    text-align: center;
    & h2{
        order:0;
    }
    & h1{
        order:1;
    }
    & button{
        order: 2;
        width: fit-content;
        
        
    }
}