header {
    display: block;
    font-family: $head-foot-font;
    text-align: center;
    font-size: $header-size;
    background-color: $color-white;
    padding-top: 15px;
    padding-bottom: 5px;
}