/* font */
/* font-size and weight*/
/* shadows*/
/* Media queries */
/* Media queries */
/* font properties*/
/* gradient properties*/
/*li .operation*/
/*Menu style*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h5, h6, p, span, a, li, ::placeholder {
  font-family: "Roboto", sans-serif;
  color: black;
}

h3 {
  font-size: 0.9rem;
}

p {
  font-size: 0.8rem;
}

button {
  order: 2;
  align-self: center;
  width: fit-content;
  color: #ffff;
  border: none;
  font-size: 0.85rem;
  margin: 15px 0 40px 0;
  padding: 15px 20px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0px 10px 20px -14px black;
  transition-duration: 400ms;
  background: linear-gradient(350deg, #9356dc 0%, #ff79da 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc",endColorstr="#ff79da",GradientType=1);
}

button:hover {
  background: linear-gradient(10deg, #9356dc 10%, #ff79da 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc",endColorstr="#ff79da",GradientType=1);
  box-shadow: 0px 3px 22px -5px #00000078;
}

.presentation {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: #f6f6f6;
  padding: 0 20px 20px 20px;
  text-align: center;
}

.presentation h2 {
  font-size: 1.3rem;
  font-weight: 900;
  margin: 0 15px 15px 10px;
  padding: 40px 15px 0 10px;
  order: 0;
}

.presentation h1 {
  font-size: 0.9rem;
  font-weight: 300;
  margin: 0 0 15px 0;
  order: 1;
}

.operation {
  margin-bottom: 70px;
}

.operation h2 {
  font-size: 1.3rem;
  font-weight: 900;
  margin: 0 15px 15px 10px;
  padding: 40px 15px 0 10px;
}

.operation i {
  color: grey;
  padding: 0 20px 0 5px;
}

.operation li {
  background-color: #f6f6f6;
  margin: 20px 20px 20px 30px;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0px 3px 22px -10px #0000003d;
  counter-increment: number;
  list-style-type: none;
  transition-duration: 400ms;
}

.operation li::before {
  content: counter(number) " ";
  position: absolute;
  left: 18px;
  background-color: #9356DC;
  border-radius: 20px;
  height: 25px;
  width: 25px;
  color: #ffff;
  font-size: 0.70rem;
  text-align: center;
  line-height: 1.25rem;
}

.operation li:hover {
  cursor: pointer;
  background-color: #f2eafb;
  box-shadow: 0px 3px 22px -5px #00000078;
}

.operation li:hover i {
  color: #9356DC;
}

.restaurant-grid {
  background-color: #f6f6f6;
  padding-bottom: 30px;
}

.restaurant-grid a {
  text-decoration: none;
}

.restaurant-grid h2 {
  font-size: 1.3rem;
  font-weight: 900;
  margin: 0 15px 15px 10px;
  padding: 40px 15px 0 10px;
}

.restaurant-grid article {
  display: flex;
  flex-flow: row wrap;
  margin: 20px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 3px 22px -10px #0000003d;
  transition-duration: 400ms;
}

.restaurant-grid article:hover {
  box-shadow: 0px 3px 22px -5px #00000078;
}

.restaurant-grid article > div {
  margin: -4px;
}

.restaurant-grid img {
  aspect-ratio: 16/9;
  width: 100%;
}

.restaurant-grid__infos {
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  width: 100%;
  position: relative;
  padding: 5%;
}

.restaurant-grid__infos i {
  position: absolute;
  top: 20px;
  right: 20px;
  font-weight: 300;
}

.restaurant-grid__infos i:before {
  font-size: 1.2rem;
  transition-duration: 1000ms;
}

.restaurant-grid__infos i:hover::before {
  font-weight: 900;
  background: #9356dc;
  background: -webkit-linear-gradient(350deg, #9356dc 0%, #ff79da 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc",endColorstr="#ff79da",GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.new::after {
  display: block;
  content: 'Nouveau';
  color: #278870;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 0.7rem;
  border-radius: 2px;
  background-color: #99E2D0;
  padding: 5px 10px;
  font-family: Roboto;
  font-weight: 700;
  box-shadow: 0px 3px 22px -10px #0000003d;
}

header i:before {
  position: absolute;
  left: 20px;
  top: 26px;
  font-size: 1rem;
}

img {
  width: 100%;
  filter: brightness(90%);
}

.menu {
  padding: 40px 0;
  border-radius: 40px;
  overflow: hidden;
  margin-top: -50px;
  position: relative;
  background-color: #f6f6f6;
  width: 100%;
}

.menu h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  padding-left: 25px;
}

.menu .fa-heart {
  position: absolute;
  top: 3.5%;
  right: 10%;
  font-weight: 300;
}

.menu .fa-heart:before {
  font-size: 1.2rem;
  cursor: pointer;
  transition-duration: 1300ms;
}

.menu .fa-heart:hover::before {
  font-weight: 900;
  background: #9356dc;
  background: -webkit-linear-gradient(350deg, #9356dc 0%, #ff79da 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc",endColorstr="#ff79da",GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu .fa-heart:focus::before {
  font-weight: 900;
  background: #9356dc;
  background: -webkit-linear-gradient(350deg, #9356dc 0%, #ff79da 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc",endColorstr="#ff79da",GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu h2 {
  font-weight: 400;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-top: 50px;
  padding-left: 35px;
}

.menu h2::after {
  display: block;
  padding-top: 5px;
  border-bottom: 3px solid #99E2D0;
  content: '';
  width: 10%;
}

.menu li {
  list-style-type: none;
  background-color: #ffff;
  border-radius: 20px;
  padding: 15px 15px;
  margin: 20px;
  box-shadow: 0px 3px 22px -10px #0000003d;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  overflow: hidden;
  transition-duration: 400ms;
  cursor: pointer;
}

.menu li:hover {
  box-shadow: 0px 3px 22px -5px #00000078;
}

.menu li div:first-child {
  overflow: hidden;
  white-space: nowrap;
}

.menu li + div, .menu li h3 {
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu li + div, .menu li p {
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu li:focus i, .menu li:active i {
  width: 62px;
}

.menu p {
  padding-top: 5px;
}

.price-check {
  display: flex;
  flex-flow: row;
}

.price-check p {
  align-self: flex-end;
  margin-right: 10px;
  margin-left: 5px;
  font-weight: 900;
}

.price-check i:before {
  font-size: 1.1rem;
  color: #ffff;
  background-color: #99E2D0;
  padding: 30px 20px;
  margin: 15px;
}

.price-check i {
  align-self: center;
  width: 0;
}

.menu-button {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 50px;
}

footer {
  background-color: #353535;
  color: #ffff;
  padding: 20px;
  padding-bottom: 40px;
}

footer h4 {
  color: #ffff;
  font-family: Shrikhand;
  margin-bottom: 10px;
  font-weight: 100;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  font-size: 0.8rem;
  padding-top: 8px;
  font-family: roboto;
  font-weight: 300;
  color: white;
}

footer ul li:first-child, footer ul li:nth-child(2) {
  font-weight: 400;
}

footer ul i {
  padding-right: 5px;
}

footer ul i::before {
  font-size: 0.5rem;
}

footer ul li:first-child i {
  margin-right: 8px;
}

footer a {
  text-decoration: none;
  color: #ffff;
}

header {
  display: block;
  font-family: "Shrikhand", sans-serif;
  text-align: center;
  font-size: 1.5rem;
  background-color: #ffff;
  padding-top: 15px;
  padding-bottom: 5px;
}

.search-form {
  padding: 15px 0;
  text-align: center;
  background-color: #eaeaea;
  box-shadow: inset 0 4px 9px -7px rgba(0, 0, 0, 0.7);
}

.search-form input {
  border: none;
  background-color: #eaeaea;
  padding: 0 10px;
  width: 150px;
}

.search-form input:focus {
  outline: none;
  font-size: 0.8rem;
  font-weight: 700;
}

.search-form input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.35s ease-in-out;
}

.search-form input:hover::placeholder {
  opacity: 20%;
  -moz-transition-duration: 0.4s;
}

.search-form i {
  font-size: 1rem;
}

input::placeholder {
  font-size: 0.8rem;
  font-weight: 700;
  -webkit-transition: opacity 0.35s ease-in-out;
}
