/* font */
/* font-size and weight*/
/* shadows*/
/* Media queries */
/* Media queries */
/* font properties*/
/* gradient properties*/
/*li .operation*/
/*Menu style*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h5, h6, p, span, a, li, button, ::placeholder {
  font-family: "Roboto", sans-serif;
  color: black;
}

h3 {
  font-size: 0.9rem;
}

h4 {
  font-size: 0.9rem;
}

p {
  font-size: 0.85rem;
  font-weight: 300;
}

.loader {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  pointer-events: none;
  animation: loader 3s forwards;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner span {
  font-size: 1rem;
  display: inline-block;
  position: relative;
  top: 0;
  animation: bounce 0.3s  alternate;
  animation-iteration-count: 4;
  -webkit-animation-iteration-count: 4;
  font-family: 'Shrikhand';
  background: linear-gradient(to top, #9356dc 0%, #ff79da 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.spinner span:nth-child(1) {
  animation-delay: 0s;
}

.spinner span:nth-child(2) {
  animation-delay: 0.1s;
}

.spinner span:nth-child(3) {
  animation-delay: 0.2s;
}

.spinner span:nth-child(4) {
  animation-delay: 0.3s;
}

.spinner span:nth-child(5) {
  animation-delay: 0.4s;
}

.spinner span:nth-child(6) {
  animation-delay: 0.5s;
}

.spinner span:nth-child(7) {
  animation-delay: 0.6s;
}

.spinner span:nth-child(8) {
  animation-delay: 0.7s;
}

@keyframes bounce {
  from {
    top: 0;
  }
  to {
    top: -22px;
  }
}

@keyframes loader {
  from {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

article li:nth-child(1) {
  animation: splash 1100ms normal backwards ease-in-out;
  animation-delay: 500ms;
}

article li:nth-child(2) {
  animation: splash 1100ms normal backwards ease-in-out;
  animation-delay: 700ms;
}

article li:nth-child(3) {
  animation: splash 1100ms normal backwards ease-in-out;
  animation-delay: 900ms;
}

article li:nth-child(4) {
  animation: splash 1300ms normal backwards ease-in-out;
  animation-delay: 1100ms;
}

@keyframes splash {
  from {
    transform: translateY(15px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    transform: translateY(0px);
  }
}

.heartsecond {
  font-size: 1.2rem;
  transform: scaleY(1.02);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  font-weight: 900 !important;
  background: #9356dc;
  background: -webkit-linear-gradient(350deg, #9356dc 0%, #ff79da 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc",endColorstr="#ff79da",GradientType=1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -1;
  opacity: 0;
  transition: 600ms;
}

.heartfirst {
  font-size: 1.2rem;
  transform: scaleY(1.02);
  position: relative;
  z-index: 1;
  font-weight: 100 !important;
  transition: 400ms;
  cursor: pointer;
  color: #353535;
}

.heartfirst:hover {
  color: #f6f6f6;
}

.heartfirst:hover .heartsecond {
  opacity: 1;
  z-index: 2;
}

button {
  order: 2;
  align-self: center;
  width: fit-content;
  color: #ffff;
  border: none;
  font-size: 0.85rem;
  margin: 15px 0 40px 0;
  padding: 15px 20px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0px 3px 22px -5px #00000078;
  background: linear-gradient(350deg, #9356dc 0%, #ff79da 100%);
  position: relative;
  z-index: 1;
}

button::after {
  content: '';
  position: absolute;
  z-index: -1;
  background: linear-gradient(350deg, #9356dc 0%, #ff79da 80%);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: 400ms;
  border-radius: 30px;
}

button:hover::after {
  opacity: 1;
  box-shadow: 5px 8px 8px -5px #00000078;
}

.presentation {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: #f6f6f6;
  padding: 0 20px 20px 20px;
  margin-bottom: 15px;
  text-align: center;
}

.presentation h2 {
  font-size: 1.25rem;
  font-weight: 900;
  margin: 0 15px 15px 10px;
  padding: 35px 15px 0 10px;
  line-height: 1.45rem;
  order: 0;
}

.presentation h1 {
  font-size: 0.9rem;
  font-weight: 300;
  margin: 0 0 15px 0;
  line-height: 21px;
  order: 1;
}

.operation {
  margin-bottom: 70px;
}

.operation h2 {
  font-size: 1.25rem;
  font-weight: 900;
  margin: 0 15px 15px 10px;
  padding: 35px 15px 0 10px;
  line-height: 1.45rem;
}

.operation ul {
  margin-top: 25px;
}

.operation i {
  color: grey;
  padding: 0 20px 0 5px;
}

.operation i.fa-mobile-alt {
  font-size: 0.95rem;
}

.operation i.fa-list {
  font-size: 0.85rem;
  vertical-align: -0.1rem;
}

.operation li {
  background-color: #f6f6f6;
  margin: 20px 20px 25px 30px;
  padding: 27px 25px 25px 25px;
  border-radius: 20px;
  box-shadow: 0px 4px 22px -8px #0000005b;
  counter-increment: number;
  list-style-type: none;
  transition-duration: 400ms;
}

.operation li h3 {
  font-size: 0.85rem;
}

.operation li::before {
  content: counter(number) " ";
  position: absolute;
  left: 18px;
  background-color: #9356DC;
  border-radius: 20px;
  height: 24px;
  width: 24px;
  color: #ffff;
  font-size: 0.70rem;
  text-align: center;
  line-height: 1.4rem;
}

.operation li:hover {
  cursor: pointer;
  background-color: #f2eafb;
  box-shadow: 5px 8px 8px -5px #00000078;
}

.operation li:hover i {
  color: #9356DC;
}

.restaurant-grid {
  background-color: #f6f6f6;
  padding-bottom: 50px;
  padding-top: 20px;
}

.restaurant-grid a {
  text-decoration: none;
}

.restaurant-grid h2 {
  font-size: 1.25rem;
  font-weight: 900;
  margin: 0 15px 15px 10px;
  padding: 35px 15px 0 10px;
  line-height: 1.45rem;
}

.restaurant-grid article {
  display: flex;
  flex-flow: row wrap;
  margin: 20px 20px 19px 20px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 4px 22px -8px #0000005b;
  transition-duration: 400ms;
}

.restaurant-grid article:hover {
  box-shadow: 5px 8px 8px -5px #00000078;
}

.restaurant-grid__image {
  height: 180px;
}

.restaurant-grid__image img {
  width: 100%;
  transform: translateY(-30px);
}

.restaurant-grid__infos {
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  width: 100%;
  position: relative;
  padding: 15px 20px 20px 17px;
}

.restaurant-grid__infos p {
  padding-top: 3px;
}

.restaurant-grid__infos .heart {
  position: absolute;
  top: 20px;
  right: 30px;
}

.new::after {
  display: block;
  content: 'Nouveau';
  color: #278870;
  position: absolute;
  top: 14px;
  right: 12px;
  font-size: 0.6rem;
  border-radius: 2px;
  background-color: #99E2D0;
  padding: 7px 13px 7px 13px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 0.7rem;
  box-shadow: 0px 4px 22px -8px #0000005b;
}

header i:before {
  position: absolute;
  left: 23px;
  top: 26px;
  font-size: 1rem;
}

.header-img {
  width: 100%;
  filter: brightness(90%);
}

.menu {
  padding: 40px 0;
  border-radius: 40px 40px 0 0;
  overflow: hidden;
  margin-top: -40px;
  position: relative;
  background-color: #f6f6f6;
  width: 100%;
}

.menu h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  padding-left: 20px;
  position: relative;
  line-height: 1rem;
}

.menu .heart-menu {
  position: absolute;
  top: 37px;
  right: 38px;
}

.menu h2 {
  font-weight: 400;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-top: 40px;
  padding-left: 20px;
}

.menu h2::after {
  display: block;
  padding-top: 4.5px;
  border-bottom: 3px solid #99E2D0;
  content: '';
  width: 40px;
}

.menu li {
  list-style-type: none;
  background-color: #ffff;
  border-radius: 16px;
  margin: 14px 14px;
  box-shadow: 0px 4px 22px -8px #0000005b;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
  transition-duration: 400ms;
  /* &:hover{
        box-shadow: $box-shade-hover;
    }*/
}

.menu li div:first-child {
  overflow: hidden;
  white-space: nowrap;
}

.menu li + div, .menu li h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 14px 0 0 11px;
}

.menu li + div, .menu li p {
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 5px 0 0 11px;
}

.menu li p {
  padding-top: 4px;
  font-size: 0.75rem;
}

.menu li .price-check {
  display: flex;
  flex-flow: row;
  padding: 0;
  margin-right: -61px;
  transition: 500ms;
}

.menu li .price-check p {
  align-self: flex-end;
  margin-right: 25px;
  margin-left: 5px;
  font-weight: 900;
  line-height: 2.2rem;
}

.menu li .price-check i {
  align-self: center;
  background-color: #99E2D0;
  padding: 9px 4px;
}

.menu li .price-check i:before {
  font-size: 1.05rem;
  color: #ffff;
  display: inline-block;
  margin: 15px;
  transition-duration: 0ms;
  transform: rotate(-1turn);
}

.menu li:hover .price-check {
  margin-right: 0px;
}

.menu li:hover i:before {
  transform: rotate(0turn);
  transition-duration: 500ms;
}

.menu-button {
  width: 187px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 52px;
  margin-bottom: 48px;
}

footer {
  background-color: #353535;
  color: #ffff;
  padding: 25px 20px 35px 25px;
}

footer h4 {
  color: #ffff;
  font-family: Shrikhand;
  margin-bottom: 10px;
  font-weight: 100;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  font-size: 0.75rem;
  padding-top: 8px;
  font-family: roboto;
  font-weight: 200;
  color: white;
}

footer ul li:first-child, footer ul li:nth-child(2) {
  font-weight: 400;
}

footer ul i {
  padding-right: 5px;
}

footer ul i::before {
  font-size: 0.5rem;
}

footer ul li:first-child i {
  margin-right: 8px;
}

footer a {
  text-decoration: none;
  color: #ffff;
}

header {
  display: block;
  font-family: "Shrikhand", sans-serif;
  text-align: center;
  font-size: 1.5rem;
  background-color: #ffff;
  padding-top: 15px;
  padding-bottom: 5px;
}

.search-form {
  padding: 15px 0;
  text-align: center;
  background-color: #eaeaea;
  box-shadow: inset 0 4px 9px -7px rgba(0, 0, 0, 0.7);
}

.search-form input {
  border: none;
  background-color: #eaeaea;
  padding: 0 10px;
  width: 150px;
}

.search-form input:focus {
  outline: none;
  font-size: 0.8rem;
  font-weight: 700;
  color: #353535;
}

.search-form input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.35s ease-in-out;
}

.search-form input:hover::placeholder {
  opacity: 20%;
  transition-duration: 0.4s;
}

.search-form i {
  font-size: 0.85rem;
  color: #353535;
  vertical-align: 0.1rem;
}

input::placeholder {
  font-size: 0.8rem;
  font-weight: 700;
  color: #353535;
  transition: opacity 0.35s ease-in-out;
}
