button{
    order: 2;
    align-self: center;
    width: fit-content;
    color: $color-white;
    border: none;
    font-size: 0.85rem;
    margin: 15px 0 40px 0;
    padding:15px 20px;
    border-radius:30px;
    cursor: pointer;
    box-shadow: $button-shade;
    transition-duration: 400ms;
    @include gradient-primary;
        
    &:hover{
        @include gradient-primary-hover;
        box-shadow:$box-shade-hover;

    }
}