*{
    margin:0;
    padding:0;
}
h1, h2, h3, h4, h5, h6, p, span, a, ::placeholder{
    font-family: "Roboto", sans-serif;
    color: black;
}
h2{
    @include h2-style;
}
h1{
    @include h1-style;
}
h3{
    @include h3-style;
}