.presentation{
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: $color-bck-grd-light;
    padding: 0 20px 20px 20px;
    margin-bottom: 15px;
    text-align: center;
    & h2{
        @include HP-h2-style;
        order:0;
    }
    & h1{
        @include HP-h1-style;
        order:1;
    }
       
}
.operation{
    margin-bottom: 70px;

    & h2{
        @include HP-h2-style;

    }
    & ul{
        margin-top: 25px;
    }
    & i{
        color:$color-i-operate;
        padding:0 20px 0 5px;
    &.fa-mobile-alt{
        font-size: 0.95rem;
    }
    &.fa-list{
        font-size: 0.85rem;
        vertical-align: -0.1rem;
    }
    }
    & li{
        @include operate-li;
        transition-duration: 400ms;
        & h3{
            font-size: 0.85rem;
        }
    &::before {
        @include counter-li-HP;
      }
    &:hover{
        @include operate-hover;
    & i{
        color:$color-primary;
        
    }
    }
    }
    
}

.restaurant-grid{
    background-color: $color-bck-grd-light;
    padding-bottom: 50px;
    padding-top: 20px;
    & a{
        text-decoration: none;
    }
    & h2{
        @include HP-h2-style;
    }
    & article{
        display: flex;
        flex-flow: row wrap;
        margin:20px 20px 19px 20px;
        border-radius: 15px;
        overflow: hidden;
        position: relative;
        box-shadow: $box-shade;
        transition-duration: 400ms;
        

        &:hover{
            box-shadow: $button-shade-hover;
        }}
    
    
    &__image{
        height: 180px;
    & img{
        width: 100%;
        transform: translateY(-30px);
    }
    }
    
    
    &__infos{
        display: flex;
        flex-direction: column;
        background-color: $color-white;
        width: 100%;
        
        position: relative;
        padding: 15px 20px 20px 17px;
        & p{
            padding-top: 3px;
        }
    
        & .heart{
        position: absolute;
        top:20px;
        right:30px;
        }
        }}
    

.new::after{
    @include new-style;
}