html{
    scroll-behavior: smooth;
}

.presentation{
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: $color-bck-grd-light;
    padding: 0 20px 20px 20px;
    margin-bottom: 15px;
    text-align: center;
    & h2{
        @include HP-h2-presentation;
        order:0;
    }
    & h1{
        @include HP-h1-style;
        order:1;
    }
       
}
.operation{
    margin-bottom: 50px;

    & h2{
        @include HP-h2-operate;

    }
    & ul{
        margin-top: 15px;
    }
    & i{
        color:$color-i-operate;
        padding:0 20px 0 10px;
    &.fa-mobile-alt{
        font-size: 1.2rem;
    }
    &.fa-list{
        font-size: 1.1rem;
        vertical-align: -0.1rem;
    }
    }
    & ul{
        @include operate-ul;
    }
    & li{
        @include operate-li;
        transition-duration: 400ms;
        & h3{
            font-size: 1rem;
        }
    &::before {
        @include counter-li-HP;
      }
    &:hover{
        @include operate-hover;
    & i{
        color:$color-primary;
        
    }
    }
    }
    
}

.restaurants{
    @include restaurant-main-container-style;
   }

.restaurant-grid{    
display: flex;
flex-flow: row wrap;
justify-content: space-evenly;
    
    & article{
        @include restaurant-article;
        & a{
            text-decoration: none;
            display: block;
        }   
    }
    
    
    &__image{
        height: 170px;
    & img{
        width: 100%;
        transform: translateY(-30px);
    }
    }
    
    
    &__infos{
        
        background-color: $color-white;
        width: calc(100% - 30px);
        position: relative;
        padding: 15px 20px 15px 10px;
        & p{
            padding-top: 2px;
        }
    
        & .heart{
        position: absolute;
        top:20px;
        right:30px;
        }
        }}
    

.new::after{
    @include new-style;
}