header {
    
    & i:before{
    position: absolute;
    left: 23px;
    top: 26px;
    font-size: 1.2rem;}
    
}
.header-img{
    @include header-img-style;
    
}

.menu{
    @include menu-container-style;
    & h2{
        @include h2-menu-style;
    }
    
    & li{
        @include menu-li-style;
    & .price-check{
            @include Price-check-style;
            }

    &:hover .price-check{
            margin-right: 0px;
              
          }
    &:hover i:before{
            transform: rotate(0turn);
            transition-duration: 500ms;
        }
    }
    & article{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

}

.menu-button{
    @include menu-button-style;
    
}
