.loader{
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    pointer-events: none;
    -webkit-animation: loader 3s forwards;
            animation: loader 3s forwards;
}
.spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
  & span{

    font-size: 2rem;
    display: inline-block;
    position: relative;
    top: 0;
    animation: bounce 0.3s alternate;
    animation-iteration-count: 4;
    -webkit-animation-iteration-count: 4;
    font-family: 'Shrikhand';
    background: linear-gradient(to top, #9356dc 0%, #ff79da 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 2px;
    padding-right: 5px;
    text-align: center;
    margin-right: -11px;
    &:nth-child(1){
        -webkit-animation-delay: 0s;
                animation-delay: 0s;
    }
    &:nth-child(2){
        -webkit-animation-delay: 0.1s;
                animation-delay: 0.1s;
    }
    &:nth-child(3){
        -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s;
    
    }
    &:nth-child(4){
        -webkit-animation-delay: 0.3s;
                animation-delay: 0.3s;
    
    }
    &:nth-child(5){
        -webkit-animation-delay: 0.4s;
                animation-delay: 0.4s;
    
    }
    &:nth-child(6){
        -webkit-animation-delay: 0.5s;
                animation-delay: 0.5s;
    
    }
    &:nth-child(7){
        -webkit-animation-delay: 0.6s;
                animation-delay: 0.6s;
    
    }
    &:nth-child(8){
        -webkit-animation-delay: 0.7s;
                animation-delay: 0.7s;
    
    }
}}

@keyframes bounce{
    from {top: 0;}
    to   {top: -22px;

    }
}

@keyframes loader {
    from {
        opacity: 1;
        
        }   
        
       
       80%{
           opacity: 1;
          
        }
                  
      
    to {
        
      opacity: 0;
      }
}