article li:nth-child(1){
  
        animation: splash 1100ms normal backwards ease-in-out;
        animation-delay: 500ms;
}
article li:nth-child(2){
  
    animation: splash 1100ms normal backwards ease-in-out;
    animation-delay: 700ms;
}
article li:nth-child(3){
  
    animation: splash 1100ms normal backwards ease-in-out;
    animation-delay: 900ms;
}
article li:nth-child(4){
  
    animation: splash 1300ms normal backwards ease-in-out;
    animation-delay: 1100ms;
}
@keyframes splash {
    from {
        transform: translateY(15px);

        opacity: 0;
            }
       50%{
           opacity: 0;
           
       }
        50%{
            opacity: 1;
            
        }
    to {
        
        transform: translateY(0px);
    }
}