 
 /* Media queries */
@mixin smallScreen{
    @media screen and (min-width: map-get($breakpoints, small)){
        @content;
    }
}
@mixin middleScreen{
    @media screen and (min-width: map-get($breakpoints, middle)){
        @content;
    }
}
@mixin largeScreen{
    @media screen and (min-width: map-get($breakpoints, large)){
        @content;
    }
}

/* font properties*/
@mixin p-bold{
    font-size: 0.8rem;
    font-weight: 700;
    color: $color-fourthary;
} 
@mixin HP-h2-style {
    font-size: 1.25rem;
    font-weight: 900;
    margin:$h2-Head;
    padding:35px 15px 0 10px;
    line-height: 1.45rem;
    
}
@mixin HP-h1-style {
    font-size: 0.9rem;
    font-weight: 300;
    margin: 0 0 15px 0;
    line-height: 21px;
}
@mixin menu-h1-style{
    font-family: $head-foot-font;
    font-weight: 500;
    font-size: 1.4rem;
    padding-left: 20px;
    position: relative;
    line-height: 1rem;


}

@mixin h2-menu-style {
    font-weight: 400;
    font-size:0.8rem;
    text-transform: uppercase;
    margin-top: 40px;
    padding-left: 20px;
    
}
@mixin underline-menu-h2 {
    display: block;
    padding-top: 4.5px;
    border-bottom: 3px solid $color-tertiary;
    content: '';
    width: 40px;
    
    
}

/* gradient properties*/




@mixin heart-gradient{
    background: rgb(147,86,220);
    background: -webkit-linear-gradient(350deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc",endColorstr="#ff79da",GradientType=1); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/*li .operation*/
@mixin operate-li{
    background-color: $color-bck-grd-light;
    margin: 20px 20px 25px 30px;
    padding: 27px 25px 25px 25px;
    border-radius: 20px;
    box-shadow: $box-shade;  
    counter-increment: number;
    list-style-type: none;
}
@mixin counter-li-HP{
    content: counter(number) " ";
    position: absolute;
    left: 18px;
    background-color: #9356DC;
    border-radius: 20px;
    height: 24px;
    width: 24px;
    color: #ffff;
    font-size: 0.70rem;
    text-align: center;
   
    line-height: 1.4rem;
}
@mixin operate-hover {
    cursor:pointer;
    background-color: $color-primary-lighten;
    box-shadow: $button-shade-hover;

}

/*Menu style*/


@mixin menu-container-style {
    padding:40px 0;
    border-radius: 40px 40px 0 0;
    overflow: hidden;
    margin-top: -22px;
    position: relative;
    background-color: $color-bck-grd-light;
    width: 100%;
    }
    @mixin heart-menu {
        position: absolute;
        top:50px;
        right:50px;
        font-weight: 300;
       }

@mixin menu-li-style {
   list-style-type: none;
    background-color: $color-white;
    border-radius: 16px;
    margin: 14px 14px;
    box-shadow: $box-shade;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    overflow: hidden;
    cursor: pointer;
    transition-duration:400ms ;
   /* &:hover{
        box-shadow: $box-shade-hover;
    }*/
}
@mixin new-style {
    display: block;
    content:'Nouveau';
    color: $color-tertiary-dark;
    position: absolute;
    top: 14px;
    right: 12px;
    font-size: 0.6rem;
    border-radius: 2px;
    background-color: $color-tertiary;
    padding:7px 13px 7px 13px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 0.7rem;
    box-shadow: $box-shade;
}