$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-tertiary-dark:darken($color-tertiary, 40%);
$color-white:#ffff;
$color-bck-grd-dark:#eaeaea;
$color-bck-grd-light:#f6f6f6;
$color-primary-lighten: lighten($color-primary, 35%);
$color-i-operate:grey;

/* font */
$head-foot-font: 'Shrikhand', sans-serif;
$content-font: 'roboto', sans-serif;

/* font-size and weight*/
$header-size: 1.7rem;

$h2-Head: 0% 5% 5% 5%;


/* shadows*/
$head-shade: inset 0 4px 9px -7px rgba(0,0,0,0.7);
$operate-shade:0px 3px 22px -15px black;
/* Media queries */
$breakpoints: (
    small: 499px,
    middle: 768px,
    large: 1024px
)